doctype html
html
  head
    title!= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.0.3/jquery.bootstrap-touchspin.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/css/bootstrap-slider.min.css', rel='stylesheet')
    link(href='css/orders.css', rel='stylesheet')
    link(rel='icon', href='img/favicon.png')
  body
    .container
      #dashboard
        nav(class='navbar navbar-default')
          .container-fluid
            .navbar-header
              a.navbar-brand(href='/')!= title
            ul.nav.navbar-nav
              li
                button#order_save_button.btn.btn-default.navbar-btn(type='button') zapisz
              li
                form.navbar-form(role='search')
                  input#search_text.form-control(type='text',placeholder='np. 220')
                  button#search_commit.btn.btn-default dodaj
            .navbar-right
              button#order_print_button.btn.btn-default.navbar-btn drukuj
      .notifications.top-left
      #parts_panel.parts_panel.panel.panel-warning(style='display: none')
        .panel-heading
          input.order_name(type='text', value='Roman Ryciński')
          span.label.label-default.pull-right(style='font-size: 1.2em;')
            | razem <span class='rows_total_value'>0</span> zł
            | (<span class='rows_total_value_gross'>0</span>)
        .panel-body
          table#sample_table.table(style='display: none')
            tbody
              tr
                td.part_count
                  input.part_count_input(type='text', value='1')

                td.part_id 0000000220
                td.part_name PODKŁADKA
                td.part_price
                  div
                    span.label.label-primary.price_min.pull-left 10.21
                    span.label.label-success.price_max.pull-right 21.40
                  input.part_price_slider(data-slider-min='10.21', data-slider-max='21.40', data-slider-step='0.1')
                td.price_ratio
                td.part_sum
                  | <span>20.31</span> zł</span>
                td
                  button.btn.btn-danger(type='button') X

          table.table.parts_table
            tbody

      #orders_panel.orders_panel.panel.panel-info
        .panel-heading
          span najnowsze
        .panel-body
          table.table.table-hover
            thead
              tr
                th nazwa
                th zapisany
            tbody
          button.btn.btn-info.center-block.orders_add_button(type='button') więcej

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.0.3/jquery.bootstrap-touchspin.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/bootstrap-slider.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/pl.js')
    script(src='js/orders.js')
    script.
      $(document).ready(function() {
        addOrders({})
      })

    if useReload
      script(src='/reload/reload.js')
